.title-logo{
    color: #00B7FF;
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 56px;
}
.nav{
    font-family: 'Special Elite', cursive;
}
.jumbotron h1{
    font-size: 51px;
}
.gfont1{
    font-family: 'Courgette', cursive;
}
.gfont2{
    font-family: 'Special Elite', cursive;
}