
<div class="bs-docs-header"> <div class="container" style="width:900px;"> <h1>Vote for the best Goal.</h1> <p>Every choice you make affects our Rankings.</p></div></div>

<div ng-cloak  class="container" style="width:900px;">
    <div class="col-md-12" style="padding-left:0px;height:100%;margin-top:85px;">
            <div class="play-field">
                <goal1>
                    <button type="button" class="btn btn-lg btn-success btn-left">Bolster the Honey Bee population.</button>
                </goal1>
                <otheroptions>
                    <tie><button type="button" class="btn btn-lg btn-info">Tie</button></tie>
                    <skip><button type="button" class="btn btn-lg btn-info">Skip</button></skip>
                </otheroptions>
                <goal2>
                    <button type="button" class="btn btn-lg btn-success btn-right">Visit Mars.</button>
                </goal2>
            </div>
    </div>
</div>
